@import '_variables';

/****** mobile first ******/

.banner {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    padding: 20px;

        img {
        display: block;
        width: 100%;
        height: 111px;
        border-radius: $border-radius-md;
        object-fit: cover;
        filter: brightness(0.4);
        } 

        .banner-text {
            position: absolute;
            top: 30px;
            left: 10%;
            max-width: 80%;
            text-align: left;
            font-size: $font-size-xl;
            font-family: $font-family;
            font-weight: $font-weight-lg;
            color: white;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        }

        .mobil-break {
            display: block; //force le retour à la ligne (mettre inline pour format desktop)
        }
}

/****** version tablette ******/
@media (min-width: #{$breakpoint-tablet-sm}) and (max-width: #{$breakpoint-tablet-lg}){

    .banner {
        padding-left: 50px;
        padding-right: 50px;
        
            img {
                height: 223px; /* Ajuste la hauteur */
            }

            .banner-text {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -100%);
                font-size: 40px;
                width: max-content; /* Ajuste la largeur au texte */
                white-space: nowrap; /* Empêche le retour à la ligne */
            }
        
            .mobil-break {
                display: inline;
            }
    }
}

/****** Version Desktop ******/

@media (min-width: #{$breakpoint-desktop-sm}) {
    .banner {
        padding: 60px 70px; /* Ajoute plus d’espace */
        
        img {
            height: 223px; /* Ajuste la hauteur */
        }

        .banner-text {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -100%);
            font-size: 48px;
            width: max-content; /* Ajuste la largeur au texte */
            white-space: nowrap; /* Empêche le retour à la ligne */
        }

        .mobil-break {
            display: inline; /* Annule le retour à la ligne */
        }
    }
}
