$font-family: 'Montserrat', sans-serif;
$max-width-mobile: 768px;
$max-width-desktop: 1440px;

//variables Cards tout format 
$card-border-radius: 10px;
$card-hover-scale: 1.05;

// Variabes pour Cards mobile first

$card-width: 335px;
$card-height: 255px;



// Variables pour Cards desktop 

$card-width-d: 340px;
$card-width-d: 340px;