@import '_variables';

/****** mobile first ******/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: calc(100% - 60px);
    max-width: $max-width-mobile;
    margin: 0 auto;

    .logo {
        width: 145px;
        height: 47px;
    }

    .link-header {
        display: flex;
        gap: 30px;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 500;

        &:hover {
            text-decoration-line: underline ;
        }
    }  
}