@import '_variables';

/****** mobile first ******/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 30px 20px 30px 20px;

    .logo {
        width: 145px;
        height: auto;
    }

    .link-header {
        display: flex;
        gap: 30px;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 500;

        &:hover {
            text-decoration-line: underline ;
        }
    }  
}

/****** Version tablette ******/

@media (min-width: 768px) and (max-width: 1024px) {
    
    .header {
        padding-left: 50px;
        padding-right: 50px;

            a {
                font-size: 20px;
            }
    }
}

/****** Version desktop ******/ 

@media (min-width: 1024px) {
    
    .header {
        padding: 40px 70px 0px;

        .link-header {
            gap: 57px;
        }

        a {
        font-size: 24px;  
        }
    }
}