@import 'variables';

/******* base ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    outline: 3px solid yellow;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}
  