@import '_variables';

/******* Mobile first ******/

.error-container {

    margin-bottom: 100px;

    .error {
        margin: 60px 0px 60px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family;
        font-weight: $font-weight-lg;
        font-size: 96px;
        color: $flashy-color;
    }

    .error-message {
        display: block;
        text-align: center;
        font-family: $font-family;
        font-weight: $font-weight-md;
        font-size: $font-size-md;
        color: $flashy-color;
        padding: 0px 20px 0px 20px;
        margin-bottom: 80px;
    }

    .mobil-break {
        display: block;
    }

    nav.link-header{
        font-family: $font-family;
        font-size: $font-size-sm;
        font-weight: $font-weight-md;
        text-align: center;
        
        a {
            color: $dark-color; 
            text-decoration: underline; 
            
            &:visited {
                color: $dark-color; 
            }
    
            &:hover {
                color: $dark-color; 
            }
        }

    }
}

/****** version tablette ******/

@media (min-width: #{$breakpoint-tablet-sm}) and (max-width: #{$breakpoint-tablet-lg}) {

    .error-container {
        max-width: 100%;

            .error {
                font-size: 200px;
            }
    
            .error-message {
                font-size: 25px;
            }

            .mobil-break {
                display: inline;
            }
    
            nav.link-header {
                font-size: 16px;
            }
    }
}



/****** version desktop ******/

@media (min-width: #{$breakpoint-desktop-sm}) {

    .error-container {
        max-width: 100%;;

            .error {
                font-size: 288px;
            }

            .error-message {
                font-size: 36px;
            }

            .mobil-break {
                display: inline;
            }

            nav.link-header {
                font-size: $font-size-md;
        
                &:hover{
                    cursor: pointer;
                }
      
            }
    }
}